<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a> <!--"#" é usado para fechar de vez a página-->
        </div>

        <form action="/search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input 
                type="text" 
                name="search"
                placeholder="Pesquise por cidade"
                > <!--placeholder: serve para deixar um texto dentro-->
                <button>
                    <img src="/assets/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>