<div id="modal" class="point" >
    <div class="content">
        <img src="/assets/icones/check.svg" alt="Cadastro concluído">

        <h1>Cadastro concluído!</h1>
    </div>
</div>

<script>
//é uma função que vai rodar depois de um certo tempo
/* o que ela vai rodar:
o primeiro argumento: ela vai rodar uma funcionalidade, que está dizendo que a localização da janela vai ser a barra
o segundo argumento vai ser: depois de qunto tempo ela vai rodar, e o tempo é contado em milisegundo
*/

setTimeou( () => {
    window.location = "/"
}, 2000)

</script>