/* index */
@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a { /*descendo a tag 'a' */
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;
    }


    /* search results */
    #page-search-results .cards{
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img{
        height: 250px;
    }


    /*create-point */
    #page-create-point .filde-group{
        flex-direction: column;
    }

    #page-create-point .filde-group .field + .filde{ /* o que tiver um field ao lado */
        margin-left: 0;
    }
}
 
@media (min-width: 1700px){
    #page-home{
        background-position-x: 40vw;
    }
}

@media (max-height: 760px){
    #page-home{
        background-position-y: 155px; /* era 200px aqui */
    }
}
